{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <div class="col-md-8 offset-md-2">
    <br>
    <br>
    <h4>Hola {{ user.username }}</h4>
      <p>Aqui podrás cargar un Pedido o un nuevo Cliente</p>
        <div class="container">
            <br>
            <center>
            <a href="{% url 'create_order' %}" class="btn btn-primary">Nuevo Pedido</a>
            <a href="{% url 'customers' %}" class="btn btn-primary">Nuevo Cliente</a>
            </center>
            <br>
        </div>
      <hr>
  </div>

  {% else %}
  <div class="col-md-8 offset-md-2">
      <h2 class="mt-4 mb-4">Todo Comienza Aquí</h2>
      
      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          
          <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="Usuario" required>
          </div>

          <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
          </div>

          <button type="submit" class="btn btn-secondary w-100">Login</button>
      </form>
  </div>
    
  {% endif %}

{% endblock %}